@(teasers: Seq[Teaser])(implicit messageFor: Messages)

<div id="carousel" class="carousel slide vertical-margin" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @teasers.zipWithIndex.map { case(teaser, index) =>
            <div class="item @if(index == 0){active}">
                <img src="@teaser.image.src" alt="@teaser.image.alt">
                <div class="carousel-caption">
                    <div class="carousel-caption">
                        <h3>@teaser.title</h3>
                        <p>@teaser.text</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">@messageFor("pagelet.carousel.previous")</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">@messageFor("pagelet.carousel.next")</span>
    </a>
</div>