@(language: String)(implicit request: Request[_], messagesFor: Messages)

<!DOCTYPE html>
<html lang="@language">
    <head>
        <title>@request.headers.get("referer")</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.min.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">@messagesFor("error.title")</h1>
                        </div>
                        <div class="panel-body">
                            <p class="lead">
                                Oooops!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
